#curtain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

#curtain > .emptyCurtain {
    z-index: 99999;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--font-color);
}

@media screen and (max-width: 650px) {
    #curtain {
        grid-template-columns: repeat(5, 1fr);
    }
}