#projects {
    position: relative;
    width: 100%;
    padding-top: 8vh;
}

#projectsTitle {
    position: relative;
    text-align: center;
}

#projectsTitle > h1 {
    position: relative;
    transition: 750ms;
    margin: 0;
    font-size: clamp(4vw, 7vw, 20rem);
    font-weight: 400;
}

#gridContainer {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 10vw;
    padding: 2vh 0;
    z-index: 2;
    background-color: var(--bg-color);
}

#gridContainer > #leftGrid,
#gridContainer > #rightGrid {
    width: fit-content;
    display: grid;
    gap: clamp(2rem, 10vh, 10rem);
}

a {
    all: unset;
}

.grid-item {
    padding: 0.5rem 1rem;
    width: 35vw;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
}

.grid-item > * {
    margin: 0;
}

.grid-item > h1 {
    font-size: clamp(1.25rem, 1.75vw, 4rem);
    font-weight: 550;
}

.grid-item > h3 {
    font-size: clamp(1rem, 1.1vw, 2rem);
    font-weight: 450;
}

.grid-item > h4 {
    font-size: clamp(0.8rem, 0.85vw, 1.5rem);
    font-weight: 300;
}

.projectImage {
    position: relative;
    width: 100%;
}

.projectImage img {
    position: relative;
    max-width: 100%;
    border: 2px solid var(--font-color);
    /* max-height: 40px; */
    aspect-ratio: 1.75;
}

.projectImage:hover {
    cursor: pointer;
}

.projectImage > .linkIndicator {
    position: absolute;
    z-index: 9999999999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 8%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 250ms;
    font-size: clamp(0.5rem, 1.25vw, 2rem);
}

.projectImage > .whiteBg {
    background-color: white;
    color: black;
}


.projectImage:hover .linkIndicator {
    opacity: 1;
}

.linkIndicator > #rotated {
    transform: rotate(45deg);
}

@media screen and (max-width: 650px) {
    #projects {
        padding-top: 2vh;
    }

    #gridContainer {
        padding-top: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0;
    }

    #gridContainer > #leftGrid,
    #gridContainer > #rightGrid {
        width: 100%;
        display: grid;
        gap: 1vh;
    }

    .grid-item {
        padding: 0.5rem 1rem;
        width: 100%;
    }
}