#projects {
    position: relative;
    width: 100%;
    margin: 8vh 0;
}

#projectsTitle {
    text-align: center;
}

#projectsTitle > h1 {
    margin: 0;
    font-size: clamp(4vw, 7vw, 20rem);
    font-weight: 400;
}

#gridContainer {
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    gap: 10vw;
    padding: 2vh 0;
}

#gridContainer > #leftGrid,
#gridContainer > #rightGrid {
    border: 1px solid green;
    width: fit-content;
    display: grid;
    gap: clamp(2rem, 10vh, 10rem);
}

.grid-item {
    padding: 0.5rem 1rem;
    max-width: 35vw;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
}

.grid-item > * {
    margin: 0;
}

.grid-item > img {
    border: 2px solid black;
}

.grid-item > h1 {
    font-size: clamp(1.25rem, 1.75vw, 4rem);
    font-weight: 550;
}

.grid-item > h3 {
    font-size: clamp(1rem, 1.1vw, 2rem);
    font-weight: 450;
}

.grid-item > h4 {
    font-size: clamp(0.8rem, 0.85vw, 1.5rem);
    font-weight: 300;
}

.projectImage img {
    width: 100%;
    height: auto;
    aspect-ratio: 1.8;
}