#upcoming {
    position: relative;
    width: 100%;
    padding-top: 6vh;
}

#upcomingTitle {
    text-align: center;
}

#upcomingTitle > h1 {
    margin: 0;
    font-size: clamp(4vw, 7vw, 20rem);
    font-weight: 400;
}

#upcomingGrid {
    margin: 5vh auto 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8vh;
    width: 60vw;
    transition: 250ms linear;
}

#upcomingGrid > .upcomingGrid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}

#upcomingGrid > .upcomingGrid-item > * {
    margin: 0.5rem;
}

#upcomingGrid > .upcomingGrid-item > h2 {
    font-size: clamp(1rem, 1.25vw, 3rem);
}

#upcomingGrid > .upcomingGrid-item > p {
    font-size: clamp(0.75rem, 1vw, 5rem);
    font-weight: 200;
}

@media screen and (max-width: 650px) {
    #upcoming {
        padding-top: 4vh;
    }

    #upcomingGrid {
        margin: 2vh auto 0;
        gap: 5vh;
        width: 80vw;
    }

    #upcomingGrid > .upcomingGrid-item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}