#about {
    position: relative;
    padding-top: 10vh;
    width: 100%;
}

#aboutContainer {
    margin-top: 5vh;
    padding: 2vh 0;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4%;
}

#aboutContainer > #pfp {
    margin: auto 0;
    width: 22vw;
}

#aboutContainer > #pfp img {
    width: 100%;
    border: 2px solid var(--font-color);
    aspect-ratio: 1;
}

#aboutContainer > #bio {
    position: relative;
    z-index: 2;
    width: 35%;
}

#aboutContainer > #bio > h1 {
    transition: 700ms;
    position: relative;
    z-index: 1;
    font-size: clamp(1.25rem, 2.75vw, 4rem);
    margin: 0;
}

#aboutContainer > #bio > span{
    position: absolute;
    z-index: 3;
    top: 0;
    font-size: clamp(0.75rem, 1vw, 2rem);
    font-weight: 400;
    line-height: 150%;
    background-color: var(--bg-color);
}

@media screen and (max-width: 650px) {
    #about {
        padding-top: 0;
    }

    #aboutContainer {
        margin-top: 1vh;
        flex-direction: column;
    }

    #aboutContainer > #pfp {
        width: 60vw;
    }

    #aboutContainer > #bio {
        width: 70%;
    }

    #aboutContainer > #bio > h1 {
        text-align: center;
    }
}