#about {
    position: relative;
    padding-top: 8vh;
    width: 100%;
}

#aboutContainer {
    margin-top: 5vh;
    padding: 2vh 0;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4%;
}

#aboutContainer > #pfp {
    margin: auto 0;
    width: 25vw;
}

#aboutContainer > #pfp img {
    width: 100%;
    border: 2px solid var(--font-color);
    aspect-ratio: 1;
}

#aboutContainer > #bio {
    position: relative;
    width: 35%;
}

#aboutContainer > #bio > #aboutHeader {
    position: relative;
    z-index: 1; /* Ensure the header stays behind the content */
}

#aboutContainer > #bio > #aboutHeader > h1 {
    transition: transform 0.75s; /* Apply transition only to transform */
    font-size: clamp(1.25rem, 2.75vw, 4rem);
    margin: 0;
}

#aboutSpan {
    background-color: var(--bg-color);
    position: relative;
    z-index: 2; /* Ensure the content stays above the header */
}

#aboutContainer > #bio > #aboutSpan > span {
    font-size: clamp(0.75rem, 1vw, 2rem);
    font-weight: 400;
    line-height: 150%;
}

/* Media query for smaller screens */
@media screen and (max-width: 650px) {
    #aboutContainer {
        margin-top: 1vh;
        flex-direction: column;
    }

    #aboutContainer > #pfp {
        width: 60vw;
    }

    #aboutContainer > #bio {
        margin-top: 4vh;
        width: 70%;
    }

    #aboutContainer > #bio > h1 {
        transition: none; /* Remove transition on smaller screens */
    }

    #aboutContainer > #bio > #aboutHeader {
        text-align: center;
    }
}
