#contact {
    position: relative;
    padding-top: 5vh;
    width: 100%;
}

#contactTitle {
    text-align: center;
}

#contactTitle > h1 {
    margin: 0;
    font-size: clamp(4vw, 6vw, 20rem);
    font-weight: 400;
}

#contactForm {
    position: relative;
    width: 32vw;
    margin: 4vh auto;
    display: flex;
    flex-direction: column;
    gap: clamp(0.5rem, 4vh, 4rem);
    border: 1px solid var(--font-color);
    background-color:var(--form-color);
    padding: clamp(0.5rem, 4vh, 4rem);
}

#contactForm > input {
    border: 1px solid #d5d5d5;
    outline: 0.5px solid black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: clamp(0.75rem, 1vw, 3rem);
    padding: clamp(0.1rem, 1vw, 2rem);
    transition: 200ms;
}

#contactForm > textarea {
    font-family: "Rubik", sans-serif;
    resize: vertical;
    border: 1px solid #d5d5d5;
    outline: 0.5px solid black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: clamp(0.75rem, 1vw, 3rem);
    padding: clamp(0.1rem, 1vw, 2rem);
}

#contactForm > input:focus, 
#contactForm > textarea:focus {
    background-color: #f0f0f0;
}

#contactForm > button {
    background-color: var(--bg-color);
    color: var(--font-color);
    border-color: var(--font-color);
    font-size: clamp(0.75rem, 1vw, 3rem);
    padding: clamp(0.1rem, 0.75vw, 2rem);
    transition: 100ms;
}

#contactForm > button:hover {
    cursor: pointer;
}

#contactForm > span {
    font-size: clamp(0.5rem, 0.85vw, 2rem);
    margin: 0 auto;
}

#footer {
    margin-top: 10vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(3vw, 6vw, 8vw);
    width: 100%;
    background-color: var(--font-color);
    height: clamp(5vh, 8vh, 8vh);
    font-size: clamp(3vh, 6vh, 6vh);
    color: var(--bg-color);
}

#footer > a {
    cursor: pointer;
}

@media screen and (max-width: 650px) {
    #contact {
        padding-top: 2vh;
    }

    #contactForm {
        width: 75vw;
        margin: 2vh auto;
    }

    #footer {
        height: 5vh;
        font-size: clamp(3vh, 4vh, 5vh);
        margin-top: 4vh;
    }
}