@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


:root {
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
  --font-color: #070707;
  --bg-color: white;
}

[data-theme="dark"] {
  --font-color: white;
  --bg-color: #070707;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
}

@media screen and (max-width: 600px) {
  body {
      overflow-x: hidden; /* Hide horizontal overflow */
  }
}